.head-window {width: 90%; height: 120px; background-image:url("../img/bg.jpg"); text-align: center; font-size: 40px; color: yellow; margin: auto; padding-top: 40px; border-radius: 10px;}

.body-window {width: 90%; height: 700px; margin: auto;}

.foot-window {width: 90%; height: 30px; margin: auto; background:silver;text-align:center; color:navy; font-size: 18px; border-radius: 10px; position: relative}
.left-window {height: 700px; width: 20%; float:left}

.right-window {height: 700px; width: 80%; border-left: 1px solid silver; padding-left: 20px; padding-top: 20px; font-size: 18px; float:left}

.button {width: 90%; height: 50px; padding-top: 20px; margin: auto; margin-top:10px; margin-bottom: 10px; background: gray; text-align: center; font-size: 24px; font-style: bold; color: white; border-radius: 40px;}

.button:hover {width: 90%; height: 70px; padding-top: 20px; margin: auto; margin-top:10px; margin-bottom: 10px; background: green; text-align: center; font-size: 24px; font-style: bold; color: navy; border-radius: 40px;}

.button:active {width: 90%; height: 70px; padding-top: 20px; margin: auto; margin-top:10px; margin-bottom: 10px; background: navy; text-align: center; font-size: 24px; font-style: bold; color: gray; border-radius: 40px; box-shadow: 5px 5px}

.title {font-size: 36px; font-weight: bold}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {text-decoration: none}

* {
  box-sizing: border-box;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#iframe_a {
  width: 100%;
  height: 100%;
}